apiai==1.2.3
certifi==2022.12.7
chardet==3.0.4
click==6.7
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.3
ordereddict==1.1
pbshipping==1.0.6
prestapyt==0.8.0
pymongo==3.5.1
python-engineio==1.7.0
python-socketio==1.8.1
requests==2.18.4
six==1.11.0
ujson==1.35
urllib3==1.22
Werkzeug==0.12.2
WooCommerce==1.2.1
lxml==4.0.0
xmltodict==0.11.0